<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EasyMerge</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
</head>

<body>

<div class="row">
  <div class="col-lg-6 col-lg-offset-1" style="margin-top: 50px">
  <p>
    <strong>使用说明：</strong>先修改 merge.xml, 点击"确定", 之后会显示 core-site, mapred-site, hbase-site 的配置
    <br/> 这时就不能修改 core-site, mapred-site, hbase-site 的值了。 如果想修改, 刷新页面重来。
    <br/> 修改那些不符合要求的配置项（一般不用改），点击"执行"
    <br> <strong> 参数说明</strong>
    <br> merge-json: 输入的json文件, 代表了要融合的点, 应该存放在36的 /home/ada/cyx/entitymerge
    <br> 之后会把这个文件放到HDFS上的 /tmp/sname-merge/YY-MM-DD/ 文件夹中
    <br> gdb-json: 实体融合输出json, 这个路径表示输出文件在 HDFS 的存放路径
  </p>
  </div>
</div>
<div class="container">

  <form method="Post" id="config_input">
    <div id="config">
      <h2>merge.xml</h2>
      {% for k, v in config.iteritems() %}
        <div class="input-group">
          <span class="input-group-addon">{{ k }}</span>
          <input name="{{ k }}" type="text" class="form-control" placeholder="{{ v }}">
        </div>
      {% endfor %}
    </div>
    <div id="userinput" style="margin-top: 10px">
      {% set channels = ['baidubaike','wikibaike','web','news','bbs','weibo','hudongbaike'] %}
      {% for channel in channels %}
        <label class="checkbox-inline">
          <input type="checkbox" name="channel" value={{channel}}>{{channel}}
        </label>
      {% endfor %}
      <div class="input-group">
        <span class="input-group-addon">merge-json</span>
        <!--仅有这两个配置的是必须填写的-->
        <input name="merge-json" type="text" class="form-control" placeholder="">
      </div>
      <div class="input-group">
        <span class="input-group-addon">gdb-json</span>
        <input name="gdb-json" type="text" class="form-control" placeholder="">
      </div>
    </div>
  </form>
  <div style="text-align: center">
    <button id='confirm' value="确定" onclick="get_config()" style="margin: 10px">
      确定
    </button>
  </div>
  <form method="Post" action="/new_mr_task/" target="_blank">
    <div class="input-group">
      <span class="input-group-addon">task1</span>
      <input name='1' id="task1" class="form-control" placeholder="task1 command" readonly>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default" disabled>执行</button>
        <input name="merge-json" id="hidden-merge-json" class="form-control" style="display: none">
      </span>
    </div>
  </form>
  <form method="Post" action="/new_mr_task/" target="_blank">
    <div class="input-group">
      <span class="input-group-addon">task1</span>
      <input name='2' id="task2" class="form-control" placeholder="task2 command" readonly>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default" disabled>执行</button>
      </span>
    </div>
  </form>
  <form method="Post" action="/new_mr_task/" target="_blank">
    <div class="input-group">
      <span class="input-group-addon">task1</span>
      <input name='3' id="task3" class="form-control" placeholder="task2 command" readonly>
      <input name="gdb-json" id="hidden-gdb-json" class="form-control" style="display: none">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default" disabled>执行</button>
      </span>
    </div>
  </form>
  <script>
    $(document).ready(function(){
      /* 表单填充 */
      $.each($("div#config .input-group input"), function(index, input){
        $(input).val($(input).attr("placeholder"));
      });
      $.each($("div#userinput .input-group input"), function(index, input){
        $(input).val($(input).attr("placeholder"));
      });
      /* form提交后获取mr command */
      $("#config_input").ajaxForm({
        url : 'http://127.0.0.1:5000/config/',  // need prefix
        dataType : 'json',
        success : function (response) {
          console.log(response);
          $("#task1").val(response.task1);
          $("#task2").val(response.task2);
          $("#task3").val(response.task3);
          $("#hidden-merge-json").val(response.task1.split(' ').pop());
          $("#hidden-gdb-json").val(response.task3.split(' ').pop());
          $(".btn-default").attr("disabled", false);
        }
      });
    });
    function get_config(){
      var configForm = $("#config");
      var coreSiteInput = $("#config div input[name='core-site']");
      var mapredSiteInput = $("#config div input[name='mapred-site']");
      var hbaseSiteInput = $("#config div input[name='hbase-site']");
      var coreSite = coreSiteInput.val();
      var mapredSite = mapredSiteInput.val();
      var hbaseSite = hbaseSiteInput.val();
      configForm.append($("<h2>core-site.xml</h2>"));
      updatePageWithXml(coreSite, function(){
        configForm.append($("<h2>mapred-site.xml</h2>"));
        updatePageWithXml(mapredSite, function(){
          configForm.append($("<h2>hbase-site.xml</h2>"));
          updatePageWithXml(hbaseSite, function(){
            $('<div style="margin: 10px; text-align: center">' +
              '<button style="width: 100px" type="submit">更新配置</button>')
              .insertAfter("#userinput");
          });
        });
      });
      coreSiteInput.attr('readonly', true);
      mapredSiteInput.attr('readonly', true);
      hbaseSiteInput.attr('readonly', true);
      $("#confirm").remove();

      function updatePageWithXml(filepath, callback) {
        $.getJSON('/config/' + filepath, {
        }, function (data) {
          $.each(data, function(key, value){
            configForm.append(
              $("<div class='input-group'></div>")
                .append($("<span class='input-group-addon'></span>").text(key))
                .append($("<input type='text' class='form-control'>")
                  .attr("name", key)
                  .attr("placeholder", value)
                  .val(value)
              )
            );
          });
          callback();
        });
      }
    }

  </script>
</div>

</body>

</html>
