<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EasyMerge</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <!-- Custom CSS -->
  <style>
    body {
      padding-top: 70px;
      /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
  </style>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Start Bootstrap</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div class="container">

  <form id="config" action="/new_mr_task/" method="Post" target="_blank">
    <h2>merge.xml</h2>
    {% for k, v in config.iteritems() %}
      <div class="input-group">
        <span class="input-group-addon">{{ k }}</span>
        <input name="{{ k }}" type="text" class="form-control" placeholder="{{ v }}">
      </div>
    {% endfor %}
  </form>
  <button value="确定" onclick="get_config()">确定</button>
  <script>
    function get_config(){
      var configForm = $("#config");
      console.log("good");
      var coreSiteInput = $("#config div input[name='core-site']");
      var mapredSiteInput = $("#config div input[name='mapred-site']");
      var hbaseSiteInput = $("#config div input[name='hbase-site']");
      var coreSite = coreSiteInput.val();
      var mapredSite = mapredSiteInput.val();
      var hbaseSite = hbaseSiteInput.val();
      if (coreSite === '') {
        coreSite = coreSiteInput.attr("placeholder");
      }
      if (mapredSite === '') {
        mapredSite = mapredSiteInput.attr("placeholder");
      }
      if (hbaseSite === '') {
        hbaseSite = hbaseSiteInput.attr("placeholder");
      }
      configForm.append($("<h2>core-site.xml</h2>"));
      updatePageWithXml(coreSite, function(){
        configForm.append($("<h2>mapred-site.xml</h2>"));
        updatePageWithXml(mapredSite, function(){
          configForm.append($("<h2>hbase-site.xml</h2>"));
          updatePageWithXml(hbaseSite, function(){
            configForm.append($("<button type='submit'>RUN</button>"));
          });
        });
      });

      function updatePageWithXml(filepath, callback) {
        $.getJSON('/config/' + filepath, {
        }, function (data) {
          $.each(data, function(key, value){
            console.log(key, value);
            configForm.append(
              $("<div class='input-group'></div>")
                .append($("<span class='input-group-addon'></span>").text(key))
                .append($("<input type='text' class='form-control'>")
                  .attr("name", key)
                  .attr("placeholder", value)
              )
            );
          });
          callback();
        });
      }
    }
  </script>
</div>

</body>

</html>
