<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EasyMerge</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="row">
  <div class="col-lg-6 col-lg-offset-1" style="margin-top: 50px">
  <p>
    <strong>使用说明：</strong>先修改 merge.xml, 点击"确定", 之后会显示 core-site, mapred-site, hbase-site 的配置
    <br/> 这时就不能修改 core-site, mapred-site, hbase-site 的值了。 如果想修改, 刷新页面重来。
    <br/> 修改那些不符合要求的配置项（一般不用改），点击"执行"
  </p>
  </div>
</div>
<div class="container">

  <form id="config" action="/new_mr_task/" method="Post" target="_blank">
    <h2>merge.xml</h2>
    {% for k, v in config.iteritems() %}
      <div class="input-group">
        <span class="input-group-addon">{{ k }}</span>
        <input name="{{ k }}" type="text" class="form-control" placeholder="{{ v }}">
      </div>
    {% endfor %}
  </form>
  <div style="text-align: center">
    <button id='confirm' value="确定" onclick="get_config()">确定</button>
  </div>
  <script>
    $(document).ready(function(){
      $.each($("div.input-group input"), function(index, input){
        $(input).val($(input).attr("placeholder"));
      });
    });
    function get_config(){
      var configForm = $("#config");
      var coreSiteInput = $("#config div input[name='core-site']");
      var mapredSiteInput = $("#config div input[name='mapred-site']");
      var hbaseSiteInput = $("#config div input[name='hbase-site']");
      var coreSite = coreSiteInput.val();
      var mapredSite = mapredSiteInput.val();
      var hbaseSite = hbaseSiteInput.val();
      configForm.append($("<h2>core-site.xml</h2>"));
      updatePageWithXml(coreSite, function(){
        configForm.append($("<h2>mapred-site.xml</h2>"));
        updatePageWithXml(mapredSite, function(){
          configForm.append($("<h2>hbase-site.xml</h2>"));
          updatePageWithXml(hbaseSite, function(){
            configForm.append($('<div style="margin-top: 10px; text-align: center">' +
                '<button style="width: 100px" type="submit">执行</button>'));
          });
        });
      });
      coreSiteInput.attr('readonly', true);
      mapredSiteInput.attr('readonly', true);
      hbaseSiteInput.attr('readonly', true);
      $("#confirm").remove();

      function updatePageWithXml(filepath, callback) {
        $.getJSON('/config/' + filepath, {
        }, function (data) {
          $.each(data, function(key, value){
            configForm.append(
              $("<div class='input-group'></div>")
                .append($("<span class='input-group-addon'></span>").text(key))
                .append($("<input type='text' class='form-control'>")
                  .attr("name", key)
                  .attr("placeholder", value)
                  .val(value)
              )
            );
          });
          callback();
        });
      }
    }
  </script>
</div>

</body>

</html>
