<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>task</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
</head>
<body>
<script type=text/javascript>
  var JOBLINK = "http://10.100.1.35:50030/jobdetails.jsp?jobid=";
  var TARGET = 'Running job: ';
  var task_id = $.cookie("task_id");
  var intervalObj = setInterval(function(){
    $(function() {
      $.getJSON('/task/' + task_id + '?fetch=true', {
      }, function(data) {
        if (data.result == "quit") {
          console.log("task complete");
          $("#result").append("<br/><br />" + "mapreduce task complete");
          clearInterval(intervalObj);
        } else if (data.result) {  // 如果没有新输出, result is undefined
          var textToAdd = data.result;
          if (i = textToAdd.indexOf()) {
            var jobId = textToAdd.slice(i + TARGET.length);
            textToAdd = textToAdd.slice(0, i)
                + "</a style='color:red' href='" + JOBLINK + jobId + "'" + jobId + "</a>";
          }
          $("#result").append("<br/>" + textToAdd);
        }
      });
    });
  }, 200);
</script>
 <p id=result></p>
</body>
</html>