<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>task</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
</head>
<body>
<script type=text/javascript>
  var task_id = $.cookie("task_id");
  var intervalObj = setInterval(function(){
    $(function() {
      $.getJSON('/task/' + task_id + '?fetch=true', {
      }, function(data) {
        if (data.result == "quit") {
          console.log("task complete");
          $("#result").append("<br/><br />" + "Task complete");
          clearInterval(intervalObj);
        } else if (data.result) {  // 如果没有新输出, result is undefined
          $("#result").append("<br/>" + insertLink(data.result));
        }
        window.scrollTo(0, document.body.scrollHeight);
      });
    });
  }, 200);
</script>
 <p id=result></p>
</body>
</html>